body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1,
	h2 {
		color: #333;
	}

	p {
		color: #666;
	}

	a {
		color: #007BFF;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	code {
		background-color: #f8f9fa;
		border-radius: 5px;
		padding: 0.2em 0.4em;
	}

	pre {
		background-color: #f8f9fa;
		border-radius: 5px;
		padding: 1em;
		overflow-x: auto;
	}

	@media (max-width: 768px) {
		pre {
			width: 100%;
		}
	}
}
