@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 17, 24, 39;
	--background-end-rgb: 17, 24, 39;
}

.dark {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 17, 24, 39;
	--background-end-rgb: 17, 24, 39;
}

:root:not(.dark) {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 249, 250, 251;
	--background-end-rgb: 243, 244, 246;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
