name: Typescript Pull Request Check

permissions:
  contents: read

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  checking-pr:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "yarn"

      - name: Install dependencies
        run: yarn install
      - name: Run Prettier
        run: yarn format
      - name: Run lint
        run: yarn lint
      - name: Run test
        run: yarn test
      - name: Run build
        run: yarn build
